body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #0E232C;
  font-family: 'Open Sans', sans-serif;
  background-color: #3D6F83;
}

/* GLOBAL */

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header, .content, .nav {
  width: 280px;
  padding: 0px 10px;
  background-color: #E3ECC3;
}

.header {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.content {
  height: 390px;
}

.home-content, .setup-content, .data-content {
  background-color: #E3ECC3;
  text-align: center;
  height: 400px;
  padding-top: 5px;
}

.home-category-list, .categories-list {
  height: 230px;
  overflow: auto;
}



.data-content {
  display: flex;
  flex-direction: column;
}

.stat {
  color: #0E232C;
}

.categories-page button {
  text-align: center;
  width: 30px;
}

.budget-bar {
  width: 250px;
  height: 30px;
  background-color: #3D6F83;
  margin: 10px 0px;
}

.remaining-budget-bar {
  height: 30px;
  margin: 0px;
  background-color: #8ecb5e;
  width: 0%;
  transition: width 1s, background-color 1s;
  box-shadow: inset 0 -10px 40px -10px #000000;
}

.bar-label {
  width: 250px;
  text-align: left;
}

.bar-graph {
  display: block;
  height: 280px;
  overflow: auto;
  margin: 0 auto;
}

.bar {
  max-width: 250px;
  min-height: 25px;
  background-color: #3D6F83;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

#spent {
  width: 250px;
}

.spent-bar {
  min-height: 25px;
  margin: 0px;
  background-color: #8ecb5e;
  width: 0%;
  transition: width 1s, background-color 1s;
  box-shadow: inset 0 -10px 40px -10px #000000;
  align-self: flex-end;
}

.inputs, {
  display: flex;
  flex-direction: row;
}

@media (min-width: 768px) {
  .inputs {
    align-items: flex-start;
  }
}

input {
  color: #0E232C;
  background-color: #FFF;
  border: none;
  padding: 2px;
  margin: 5px 0px 5px 10px;
  height: 30px;
}

::placeholder {
  color: #0E232C;
  padding-left: 5px;
}

button {
  text-align: center;
  background-color: #679843;
  border: none;
  height: 34px;
  padding: 2px;
  margin: 5px;
  -webkit-transition: 0.5s;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
  -webkit-transition: 0.3s;
}

.setup-message, .message-box {
  text-align: center;
  height: 25px;
  color: #e04e32;
}

/* HOME */
.category-button {
  flex-shrink: 0;
  height: 44px;
  width: 80px;
  margin: 10px;
  padding: 0 10px;
  text-align: center;
  line-height: 44px;
}

.home-labels {
  display: flex;
  flex-direction: row;
}

.home-spent-label {
  width: 300px;
  text-align: right;
}

.home-budget-label {
  width: 200px;
  text-align: center;
}

.category-item {
   display: flex;
   flex-direction: row;
   align-items: center;
 }

.category-name {
  width: 280px;
  text-align: left;
  margin-left: 15px;
}

.category-budget, .spent-label, .budget-label {
  justify-content: flex-end;
  text-align: right;
  margin-right: 20px;
}

.spent-label {
  width: 300px;
}

.budget-label {
  width: 200px;
  text-align: right;
}

/* SETUP */

.setup-labels {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

#category-name, #category-budget {
  width: 100px;
}

.make-category, .remove-button {
  width: 30px;
  border: none;
  margin: 5px 0px;
}

.categories-list {
  display: block
}

.item {
  line-height: 44px;
  width: 266px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.setup-name-label {
  width: 320px;
}

.setup-budget-label {
  width: 200px;
}


/* NAV */

.nav {
  display: flex;
  background-color: #E3ECC3;
  justify-content: center;
  align-self: center;
  justify-content: center;
  height: 50px;
  padding: 20px 10px;
}

#to-home, #to-setup, #to-data {
  background-color: #629041;
  width: 100px;
  height: 50px;
  border: none;
  color: inherit;
  margin: 0px 20px;
  font-size: 25px;
}

@media (min-width: 768px) {
  .header, .content, .nav {
    width: 700px;
  }

  .setup-labels {
    width: 500px;
    margin: 0 auto;
  }

  .setup-budget-label {
    text-align: left;
  }

  .categories-list {
    width: 280px;
    margin: 0 auto;
  }

  .category-item {
    margin: 0 auto;
    width: 350px;
  }

  .home-spent-label {
    margin-left: 80px;
  }
}
